
<section class="head">
    <div class="bande"></div>
  <figure>
    <img src="../../assets/profile.jpg" alt="khalfallah bilel">
  </figure>
  <div class="intro">
    <h1>{{condidate.firstName}} {{condidate.lastName}}</h1>
    <h3>{{condidate.spec}}</h3>
    <h4>A PROPOS DE MOI</h4>
    <p>{{condidate.about}}</p>
      <!-- <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le
          Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, </p> -->
    <div class="contact">
      <i class="fas fa-mobile-alt">  {{condidate.mob}}</i>
      <i class="fas fa-envelope">  {{condidate.email}}</i>
      <i class="fas fa-map-marked-alt">  {{condidate.address}}</i>
      <i class="fab fa-github">  {{condidate.link}}</i>
    </div>
  </div>
</section>