span{
    color: #FF5722;
}
.exp{
    width: 97%;
    text-align: justify;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
}
h3{
    font-family: 'Hind', sans-serif;
}
@media all and (min-width: 480px) and (max-width: 720px){
    .exp{
        width: 97%;
        text-align: justify;
    }
}