.competence{
    width: 97%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}
span{
  width: 70%;
  text-align: justify;
  margin-right: 5px;
  margin-bottom:10px;
}
  