.container{
    display: flex;
    flex-direction: column;
}
.course{
    display: flex;
    flex-direction: row;
    margin:0 75px;
    /* text-align: justify; */
    justify-content: space-between;
}
.more{
    display: flex;
    flex-direction: row;
    margin:0 75px;
    justify-content: space-between;
}

.comp{
    width: 50%;
}
.lang{
    width: 50%;
}


@media all and (max-width: 480px){
    .course{
        display: flex;
        flex-direction: column;
        margin:39px 47px;
        text-align: justify;
        /* justify-content: space-between; */
    }
    .more{
        display: flex;
        flex-direction: column;
        margin:0 75px;
        /* text-align: justify; */
        justify-content: space-between;
    }
    .comp{
        width: 100%;
    }
    .lang{
        width: 100%;
    }
}
@media all and (min-width: 480px) and (max-width: 720px){
    .course{
        display: flex;
        flex-direction: column;
        margin:18px 47px;
        text-align: justify;
    }
    .more{
        display: flex;
        flex-direction: column;
        margin:0 45px;
        /* text-align: justify; */
        justify-content: space-between;
    }
    .comp{
        width: 100%;
    }
    .lang{
        width: 100%;
    }
}
