<p-table [columns]="cols" [value]="trainings" selectionMode="single" [(selection)]="selectedTraining"
    (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5" [resizableColumns]="true">
    <ng-template pTemplate="caption">
        List of Trainings
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns" class="ui-resizable-column">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
</p-table>

<p-dialog header="Training Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    [style]="{width: '80%'}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" *ngIf="training">
        <form [formGroup]="form">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Date *:
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" id="date" formControlName="date" [(ngModel)]="training.date" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Date is required"
                        *ngIf="!form.controls['date'].valid&&form.controls['date'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    School Name *:
                </div>
                <div class="ui-g-8">
                    <input pInputText type="text" id="schoolName" formControlName="schoolName"
                        [(ngModel)]="training.schoolName" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="School Name is required"
                        *ngIf="!form.controls['schoolName'].valid&&form.controls['schoolName'].dirty"></p-message>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Diploma *:
                </div>
                <div class="ui-g-8">
                    <input pInputText id="diplome" formControlName="diplome" [(ngModel)]="training.diplome" />
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Diploma  is required"
                        *ngIf="!form.controls['diplome'].valid&&form.controls['diplome'].dirty"></p-message>
                </div>

            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-2">
                    Description *:
                </div>
                <div class="ui-grid-col-8">
                    <textarea pInputTextarea type="text" id="description" formControlName="description"
                        [(ngModel)]="training.description"></textarea>
                </div>
                <div class="ui-grid-col-4">
                    <p-message severity="error" text="Description is required"
                        *ngIf="!form.controls['description'].valid&&form.controls['description'].dirty"></p-message>
                </div>

            </div>
        </form>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-times" (click)="delete(training.id)" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"
                [disabled]="!form.valid"></button>
        </div>
    </p-footer>
</p-dialog>