<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
  <a class="navbar-brand" href="#" *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-item nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="/">Candidate</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="SkillsList">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="Trainingslists">Training</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="ExperiencesList">Experiences</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" routerLink="LanguagesList">Languages</a>
      </li>
    </ul>
  </div>
</nav>