/* You can add global styles to this file, and also import other style files */
body{
    max-width: 1024px;
    margin:0 auto;
    background-color: #f2f4f4;

}

h1,h2,h3,h4,h5,h6{
    margin-top: 7px;
    margin-bottom: 7px;
}