/* You can add global styles to this file, and also import other style files */
body{
    max-width: 1024px;
    margin:0 auto;
    background-color: #f2f4f4;

}

h1,h2,h3,h4,h5,h6{
    margin-top: 7px;
    margin-bottom: 7px;
}
h4{
    font-family: 'Nanum Gothic', sans-serif;
}
h1{
    font-size: 46px;
    font-family: 'Sintony', sans-serif;
}
h3{
    font-size: 26px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: lighter;
}
p{
    text-align: justify;
}
a{
    cursor: pointer;
}